* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  margin-top: 2%;
}

header {
  padding: 60px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.card {
  flex: 1 0 0;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 25%;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
  min-width: 200px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  float: inline-end;
  color: rgb(12, 228, 228);
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
  /* Change the header color */
  header {
    background: #772014;
  }

  footer {
    color: #d4260f;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  /* Change the header color */
  header {
    background: #054480;
  }

  footer {
    color: #1383eb;
  }
}
